.Form {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Input {
  width: 300px;
}

.Button {
  color: #fff !important;
  background: red;
  padding: 8px;
  border: solid 1px black;
  transition: all 0.4s ease 0s;
  font-weight: bold;
  width: 80px;
}

.Button:hover {
  color: red !important;
  background: white;
}

.loading {
  text-align: center;
}

@media (max-width: 480px) {
  .Input {
    width: 100px;
    height: 10px;
  }

  .Button {
    width: 50px;
    font-size: 8px;
    padding: 0;
    border: 0;
  }
}
